{
	"presets": ["@babel/preset-env"],
	"plugins": [
	   "@babel/plugin-transform-object-rest-spread",
		["module-resolver", {
            "alias": {
                "src": "./src"
            }
        }]
	]
}
